/sistrak-skepi/sistrak-skepi-api/target/
/sistrak-util/target/
/sistrak-skepi/sistrak-skepi-rest/target/
/sistrak-skepi/sistrak-skepi-ejb/target/
/sistrak-skepi/sistrak-skepi-ear/target/
nb-configuration.xml
/kopp-util/target/